body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3 {
    font-size: 150%;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

main {
    padding: 0px 50px;
}



.menu-link {
    display: flex;
    justify-content: flex-end;
}

/************************************
*            header + nav           *
************************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

header #logo img {
    width: 150px;
}




header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 50px 25px;
    border-top: 4px solid white;
    margin: 0px 20px 0px 20px;
}

header nav ul li:first-child {
    padding: 50px 25px;
    border-top: 4px solid #0065FC;
    margin: 0px 20px 0px 20px;

}

header nav ul li:first-child a {
    color: #0065FC;
    font-weight: bold
}

header nav ul li:hover {
    border-color: #0065FC;
    font-weight: bold;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li:hover a {
    color: #0065FC;
}

/************************************
*        Title + Searchbar       *
************************************/
.under-title {
    display: block;
    margin-top: -15px;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    width: 20%;


}

.searchbar .fa-map-marker-alt {
    display: inline-block;
    padding: 14px;
    height: 24px;
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchbar input {
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: 1px solid #F2F2F2;
    padding: 10px;
    font-weight: bold;
}

.searchbar button {
    background-color: #0065FC;
    color: white;
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.searchbar button p:first-letter {
    text-transform: uppercase;
}

.fa-search {
    display: none;
}

/************************************
*              Filters             *
************************************/

#filter {
    display: flex;
    align-items: center;
}


#filters {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
}

#filters li {
    display: flex;
    height: 44px;
    padding-right: 15px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    align-items: center;
}

#filters .picto {
    position: relative;
    right: 2px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filters span {
    padding-left: 10px;
}

#filters :hover>.picto {
    background-color: #0065FC;
    color: #DEEBFF;
}


.info {
    display: flex;
    margin: 20px 0;
}

/************************************
*              Info line           *
************************************/
.info .fas.fa-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
}

/************************************
*              Hebergement           *
************************************/
#hebergement .marseille {
    width: 66%;
}

#hebergement .marseille .title {
    padding-left: 40px;

}




#hebergement {
    display: flex;
    justify-content: space-between;
    height: 520px;

}

#hebergement .marseille {
    background-color: #F2F2F2;
    border-radius: 20px;


}

.hebergements {

    width: 100%;
    height: 160px;
}



.hebergement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.hebergement-list a {
    width: 28%;

    height: 160px;
    margin-bottom: 30px;
}

.hebergement-list a article {
    background-color: white;
    padding: 4px;
    border-radius: 25px;
    border: 3px solid #F2F2F2
}

.hebergement-list a article:hover {
    box-shadow: 0px 0px 20px 0px #f2f2f2;
}

.hebergement-list a article img {
    height: calc(100% - 60px);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border: 2px solid #F2F2F2
}

.hebergement-list a {
    color: black;
    text-decoration: none;
}

.hebergement-list a article .fa-star.blue {
    color: #0065FC;
}

.hebergement-list a article .fa-star.grey {
    color: #dad5d5;
}

.article-content h3,
p,
.star-rate {
    font-size: 12px;
    margin: 0;
    padding-left: 10px;
}


/************************************
*            Populaire              *
************************************/

#hebergement .populaire {
    width: 30%;
}

#hebergement .populaire .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#hebergement .populaire .hebergement-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 400px;
    padding: 0px 10px 20px 20px;
}

.populaire {
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement .populaire .hebergement-list a {
    width: 100%
}

#hebergement .populaire .hebergement-list a article {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
   
}

#hebergement .populaire .hebergement-list a article img {
    border-radius: 20px 0px 0px 20px;
    width: 45%;
    height: 100%;
    object-fit: cover;
}

#hebergement .populaire .hebergement-list a article .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.afficher-plus {
    text-decoration: none;
    color: black;
}

.afficher-plus p {
    font-weight: bold;

    color: black;
    font-size: 18px;
    padding: 20px 0px 0px 25px;
}

.afficher-plus:hover {
    text-decoration-line: underline;
}

/************************************
*            Activités              *
************************************/
#activite {
    margin-bottom: 100px;

}

.activite-list .column a {
    color: black;
    text-decoration: none;
}

.activite-list {
    display: flex;
    justify-content: space-between;
    height: 600px;


}

.activite-list .column {
    width: 23%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;

}

.activite-list .column article img {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}


.activite-list .column article {
    height: 100%;
    box-shadow: 4px 4px 8px #c5c4c4;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.activite-list .column a {
    height: 100%;
    margin-bottom: 20px;
    
}

.activite-list .column a article:hover {
    box-shadow: 4px 4px 8px #21207e;
}

.activite-list .column article h3 {
   
    font-size: 18px;
    font-weight: bold;
   
}

.activite-list .column.double article {
    max-height: 290px;
}



/************************************
*              Footer               *
************************************/
footer {

    display: flex;
    background-color: #F2F2F2;
}

footer .footer-column {
    width: 30%;
    height: 190px;
    padding: 0px 50px;
}

footer .footer-column ul {
    list-style-type: none;
    padding-inline-start: 0;
}

footer .footer-column ul li a {
    color: black;
    text-decoration: none;
    padding: 3px;
    text-align: left;
}

footer .footer-column ul li:hover {
    color: blue;
    text-decoration: underline;
}

footer h4 {

    font-weight: bold;
    font-size: 20px;
}


@media (max-width:992px) {
    #hebergement {
        flex-direction: column;

        margin-bottom: 50px;
        height: auto;
        margin: 0 20;
    }
    #hebergement .populaire {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 0;
    }
    #hebergement .marseille {
        order: 2;
        width: 100%;;
        margin-bottom: 25px;
        background-color: white;
       
    }
    
}

@media (max-width:768px) {
    body {
        padding: 0;
    }

    main {
        padding: 0px;
    }

    header {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    header #logo {
        margin: auto;
        padding: 0 0;

    }

    header nav ul {
        width: 100%;

        padding: 0;
    }

    header nav ul li {
        width: 50%;

        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;

    }

    header nav ul li:first-child {
        border-top: none;
        margin: 0;
    }

    .searchbar button {
        border-radius: 15px;
    }

    .fa-search {
        display: block;
    }

    .searchbar button p {
        display: none;
    }

    #filter {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #filters {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #hebergement {
        flex-direction: column;

        margin-bottom: 50px;
        height: auto;
        margin: 0 20;
    }

    #hebergement .marseille {
        order: 2;
        width: 100%;;
        margin-bottom: 25px;
        background-color: white;
       
    }

    #hebergement .populaire {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 0;
    }

    #hebergement .marseille .hebergement-list {
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    #hebergement .marseille .hebergement-list a {
        width: 90%;
      
    }

    #activite {
        margin-top: 50px;
        margin-bottom: 50px;
    }


    #activite .activite-list .column {
        width: 90%;
        
    }


    #activite .activite-list {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;

    }

    footer {
        flex-direction: column;
    }

    footer .footer-column {
        width: 100%;
        height: 100%;
        padding: 0px 0px 20px 0px;




    }




}