body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 15px;
}

h1 {
    font-size: 150%;
    font-weight: 800;
}

h2 {
    font-size: 130%;
    font-weight: 800;
}

h3 {
    font-weight: 800;
}

.price {
    font-weight: 700;
}

main {
    padding: 0px 50px;
}

ul {
    padding-inline-start: 0px
}

.menu-link {
    display: flex;
    justify-content: flex-end;
}

/************************************
*            header + nav           *
************************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

header #logo img {
    width: 100px;
    margin-top: 40px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 50px 25px;
    border-top: 2px solid white;
    margin: 0px 20px 0px 20px;
}

header nav ul li:first-child {
    padding: 50px 25px;
    border-top: 2px solid #0065FC;
    margin: 0px 20px 0px 20px;
}

header nav ul li:first-child a {
    color: #0065FC;
}

header nav ul li:hover {
    border-color: #0065FC;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li:hover a {
    color: #0065FC;
}

/************************************
*        Title + Searchbar       *
************************************/
.under-title {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    width: 20%;
}

.searchbar .fa-map-marker-alt {
    display: inline-block;
    padding: 16px;
    height: 20px;
    font-size: 17px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchbar input {
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: 1px solid #F2F2F2;
    padding: 10px;
    font-weight: bold;
}

.searchbar button {
    background-color: #0065FC;
    color: white;
    height: 49px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 18px;
    cursor: pointer;
    right: 10px;
    position: relative;
}

.searchbar button span {
    font-weight: 700;
}

.fa-search {
    display: none;
}

/************************************
*              Filters             *
************************************/
#filter {
    display: flex;
    align-items: center;
}

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
}

#filters li {
    display: flex;
    height: 44px;
    padding-right: 15px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    align-items: center;
    margin: 5px;
}

#filters .picto {
    position: relative;
    right: 2px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filters span {
    padding-left: 10px;
}

#filters :hover>.picto {
    background-color: #0065FC;
    color: #F2F2F2;
}

#info {
    display: flex;
    margin-bottom: 30px;
}

/************************************
*              Info line           *
************************************/
#info .fas.fa-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#info span {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************
*              Hebergement           *
************************************/
#hebergement .marseille {
    width: 66%;
}

#hebergement .marseille .title {
    padding: 0px 0px 0px 25px
}

#hebergement {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

#hebergement .marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements {
    height: 200px;
}

.hebergement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 450px;
}

.hebergement-list a {
    width: 30%;
    height: 160px;
    margin-bottom: 30px;
}

.hebergement-list a article {
    background-color: white;
    padding: 4px;
    border-radius: 25px;
}

article {
    box-shadow: 4px 4px 8px grey;
}

.hebergement-list a article:hover {
    box-shadow: 0px 0px 20px 0px #F2F2F2;
}

.hebergement-list a article img {
    height: calc(100% - 84px);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergement-list a {
    color: black;
    text-decoration: none;
}

.hebergement-list a article .fa-star.blue {
    color: #0065FC;
}

.hebergement-list a article .fa-star.grey {
    color: lightgrey;
}

.article-content h3,
p,
.star-rate {
    font-size: 12px;
    padding-left: 10px;
}

/************************************
*            Populaire              *
************************************/
#hebergement .populaire {
    width: 30%;
    height: 600px;
}

#hebergement .populaire .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 12px;
}

#hebergement .populaire .title .fas {
    color: black;
}

#hebergement .populaire .hebergement-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 530px;
    padding: 0px 15px 20px 15px;
}

.populaire {
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement .populaire .hebergement-list a {
    width: 100%
}

#hebergement .populaire .hebergement-list a article {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 140px;
}

#hebergement .populaire .hebergement-list a article img {
    border-radius: 20px 0px 0px 20px;
    width: 45%;
    height: 100%;
    object-fit: cover;
}

#hebergement .populaire .hebergement-list a article .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4%;
}

.afficher-plus {
    text-decoration: none;
    color: black;
}

.afficher-plus span {
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 20px 0px 0px 25px;
    margin-bottom: 20px;
    position: relative;
    top: 30px;
}

.afficher-plus:hover {
    text-decoration-line: underline;
}

/************************************
*            Activités              *
************************************/
#activite {
    margin-bottom: 100px;
}

.activite-list .column a {
    color: black;
    text-decoration: none;
}

.activite-list {
    display: flex;
    justify-content: space-between;
}

.activite-list .column {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    max-height: 470px;
}

.activite-list .column article img {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
    height: 450px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.activite-list .column article h3 {
    padding-left: 20px;
}

.activite-list .column a {
    height: 100%;
    margin-bottom: 20px;
}

.activite-list .column a article:hover {
    box-shadow: 0px 0px 20px 0px grey;
}

.activite-list .column article h3 {
    font-size: 18px;
    font-weight: bold;
}

.activite-list .column.double article {
    max-height: 210px;
}

/************************************
*              Footer               *
************************************/
footer {
    display: flex;
    background-color: #F2F2F2;
}

footer .footer-column {
    width: 30%;
    height: 190px;
    padding: 0px 50px;
}

footer .footer-column ul {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 25px;
}

footer .footer-column ul li a {
    color: black;
    text-decoration: none;
    padding: 3px;
    text-align: left;
}

footer .footer-column ul li:hover {
    color: #0065FC;
    text-decoration: underline;
}

footer h4 {
    font-weight: bold;
    font-size: 20px;
}

@media (max-width:992px) {
    body {
        font-size: 16px;
    }

    main {
        padding: 0px;
    }

    main>h1,
    main>span,
    main>form,
    #info,
    .hebergement-list,
    .title {
        padding: 0px 20px;
    }

    #filters li {
        white-space: nowrap;
    }

    #hebergement {
        flex-direction: column;
        margin-bottom: 50px;
        height: auto;
        margin: 0 20;
    }

    #hebergement .populaire {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 0;
    }

    #hebergement .marseille {
        order: 2;
        width: 100%;
        ;
        margin-bottom: 25px;
        background-color: white;
    }

    #hebergement .populaire .title {
        justify-content: space-between;
        margin: 10px 0px;
    }

    #hebergement .populaire,
    .hebergement-list {
        padding: 0px 0px 0px 15px;
        flex-wrap: wrap;
    }

    #hebergement .populaire .hebergement-list a {
        width: 100%;
    }

    .activite-list {
        flex-wrap: wrap;
    }

    .activite-list .column {
        width: 48%;
    }

    #activite>div>div:nth-child(3) {
        order: 1;
    }

    #activite>div>div:nth-child(4) {
        order: 0;
    }

    footer .footer-column {
        width: 30%;
        height: auto;
        padding: 0px 50px;
    }
}

@media (max-width:767px) {
    body {
        padding: 0px;
    }

    h1 {
        font-size: 130%;
    }

    header {
        width: auto;
        flex-direction: column;
        padding: 0;
    }

    header #logo {
        margin: auto;
        padding: 0 0;
    }

    header nav ul {
        width: 100%;
        padding: 0;
    }

    header nav ul li {
        width: 50%;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }

    header nav ul li:first-child {
        border-top: none;
        margin: 0;
        border-bottom: 2px solid #0065FC;
    }

    .article-content h3,
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .article-content {
        padding-bottom: 2px;
    }

    .searchbar button {
        border-radius: 15px;
        height: 52px;
    }

    .fa-search {
        display: block;
    }

    .searchbar button span {
        display: none;
    }

    #filter {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #filters {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #hebergement {
        flex-direction: column;
        margin-bottom: 20px;
        margin: 0 20;
    }

    #hebergement .marseille {
        order: 2;
        width: 100%;
        ;
        margin-bottom: 25px;
        background-color: white;
    }

    .marseille article {
        line-height: 7px;
    }

    #hebergement .marseille .hebergement-list {
        width: auto;
    }

    #hebergement .populaire {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 0;
        height: 600px;
    }

    #hebergement .populaire .hebergement-list {
        height: 530px;
    }

    #hebergement .populaire .hebergement-list a article {
        height: 140px;
        width: 97%;
    }

    .marseille .hebergements {
        height: 190px;
    }

    #hebergement .marseille .hebergement-list {
        flex-direction: column;
        flex-wrap: wrap;
        height: 1300px;
    }

    #hebergement .marseille .hebergement-list a {
        width: 100%;
    }

    #hebergement .marseille .title {
        padding: 0px 0px 0px 20px
    }

    #activite {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .activite-list .column article {
        height: 180px;
    }

    #activite .activite-list .column {
        width: 90%;
    }

    #activite .activite-list {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    footer {
        flex-direction: column;
    }

    footer .footer-column {
        width: auto;
        height: 100%;
        padding: 0px 0px 20px 30px;
    }
}